@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Årstaängsvägen 9<br />
    Liljeholmen<br />
    <abbr title="Phone">P:</abbr>
    08-234 66 89
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@lexicon.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@lexicon.se</a>
</address>